
.superior{
    width: 90%;
    margin: auto;
}

.imagen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}


.imagenes__secundarias{
    width: 100%;
    justify-self: center;
    background-color: black;
    display: grid;
    place-items: center;
    padding: 10px;
}


.imagen-principal{
grid-column: 1/4;
justify-self: center;
background-color: black;
width: 100%;
display: grid;
place-items: center;

}

.imagenes__secundarias img{
    width: 50px;
    
   
}


.imagen-principal img{
width: 200px;

}

.cosas{
  margin: 2rem ;
    
}

.imagenes__secundarias:nth-child(1){
   
}
.imagenes__secundarias:nth-child(2){
  
}
.imagenes__secundarias:nth-child(3){
    
}

#titulo-principal{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    padding: 1rem 2rem 0rem 2rem;
}

button{
    border: solid 2px var(--negro);
    background-color: transparent;
    padding: 5px 20px ;
}

